.blog-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 50px 150px;
  text-align: justify;
}
.bt {
  color: #b78b08;
}
.goback {
  margin-left: 150px;
  margin-top: 20px;
  border: none;
  /* background: #b78b08; */
  color: black;
  padding: 0 150px;
  border-radius: 1vmax;
  padding: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: all 250ms ease-in-out;
}
.goback:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 250ms ease-in-out;
}
