.blog-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 50px 150px;
  text-align: justify;
}
.bt {
  color: #b78b08;
}
.goback {
  margin-left: 150px;
  margin-top: 20px;
  border: none;
  /* background: #b78b08; */
  color: black;
  padding: 0 150px;
  border-radius: 1vmax;
  padding: 0 10px;
 
  transition: all 250ms ease-in-out;
}

