article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

.ftco-section {
  padding: 2em 0em 0em;
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

.heading-section {
  font-size: 28px;
  color: #000;
}

.ftco-navbar-light {
  background: #252525 !important;
  z-index: 3;
  padding: 0;
}
@media (max-width: 991.98px) {
  .ftco-navbar-light {
    background: #000 !important;
    position: relative;
    top: 0;
    padding: 10px 15px;
  }
}
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav {
    padding-bottom: 10px;
  }
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 11px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  opacity: 1 !important;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ff0000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (prefers-reduced-motion: reduce) {
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:before {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
  color: #ff0000;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover:before {
  width: 100%;
}
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    color: rgba(255, 255, 255, 0.7);
  }
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
    color: #fff;
  }
}
@media (max-width: 767.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
  border: none;
  background: #fff;
  -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  border-radius: 4px;
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
  font-size: 12px;
  color: #000;
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover,
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
  background: #ff0000;
  color: #fff;
}
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
    display: block !important;
    background: #000;
  }
  .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
    color: rgba(255, 255, 255, 0.8);
  }
}
.ftco-navbar-light .navbar-nav > .nav-item.cta > a {
  color: #fff;
  background: #ff0000;
  border-radius: 0px;
}
@media (max-width: 767.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    color: #fff;
    background: #ff0000;
    border-radius: 4px;
  }
}
.ftco-navbar-light .navbar-nav > .nav-item.active > a {
  color: #ff0000;
}
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #fff;
  }
}
.ftco-navbar-light .navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, 0.5) !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.ftco-navbar-light .navbar-toggler:focus {
  outline: none !important;
}

.navbar-brand {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.navbar-brand span {
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
}
.navbar-brand:hover,
.navbar-brand:focus {
  color: #000;
}

.social-media {
  display: inline-block;
}
@media (max-width: 991.98px) {
  .social-media {
    margin: 0 auto;
  }
}
@media (max-width: 767.98px) {
  .social-media {
    margin-bottom: 20px;
  }
}
.social-media p a {
  border: 1px solid #e6e6e6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 4px;
}
.social-media p a span {
  color: #4d4d4d;
}
.social-media p a:hover {
  background: #ff0000;
  border-color: #ff0000;
}
.social-media p a:hover span {
  color: #fff;
}

.searchform {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-radius: 40px;
}
@media (min-width: 992px) {
  .searchform {
    width: 300px;
  }
}
.searchform .form-control {
  width: calc(100% - 50px);
  border: none;
  background: #fff !important;
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 14px;
}
.searchform .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.7) !important;
}
.searchform .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.7) !important;
}
.searchform .form-control:-ms-input-placeholder {
  /* IE 0+ */
  color: rgba(0, 0, 0, 0.7) !important;
}
.searchform .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.7) !important;
}
.searchform .search {
  width: 50px;
  height: 50px;
  background: #ff0000 !important;
}
.searchform .search span {
  font-size: 16px;
  color: #fff;
}
