.forum {
  display: flex;
  padding: 5Dem;
  gap: 2em;
}
/* .forum > * {
  flex-basis: 100%;
} */
.forum-left {
  padding-top: 8% !important;
  padding: 2em;
  width: 35%;
}
.forum-add {
  color: #fff !important;
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.forum-right {
  padding: 2em;
  width: 70%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 40px 0 0 40px;
}
.forum-row {
  gap: 1em;
}
.card__link {
  left: 35%;
  position: relative;
  text-decoration: none !important;
  color: black;
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: skyblue;
  transition: all 250ms ease-in-out;
}

.card__link:hover::after {
  width: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(to right, #834d9b, #d04ed6);
  background: linear-gradient(to right, #834d9b, #d04ed6);
}

.wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  color: #585858;
  font-family: "Roboto", sans-serif;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  backdrop-filter: blur(2px);
  transition: all 0.4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.modal__footer {
  text-align: right;
}
a {
  color: #585858;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}
.forum-card {
  width: 100% !important;
}
.forum-query {
  height: 500px !important;
}
@media (max-width: 991px) {
  .forum {
    flex-direction: column;
  }
  .forum-left {
    width: 100%;
  }
  .forum-right {
    width: 100%;
  }
  .forum-main-card {
    width: 100% !important;
  }
}
