.heading {
  font-size: 1.2em;
  border: 2px solid black;
  margin-bottom: 7px;
  color: black !important;
  background: gainsboro !important;
}
.btn-form {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.try {
  background-color: rgb(187, 187, 187);
}
.row {
  color: white;
  text-align: center !important;
}
.btn {
  width: auto;
  padding: 1px;
  margin: 2px;
}
.btn_update {
  color: green;
}
.btn_update:hover {
  color: green;
}
.btn_delete {
  color: red;
}
.btn_delete:hover {
  color: red;
}
.strike-text {
  font-size: 14px;
  margin-right: 10px;
}
.btn-btn {
  width: 110% !important;
  padding: 5px;
}
.btn-btn1 {
  width: 110% !important;
  padding: 5px;
}
.img-responsive {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 991.98px) {
  .heading {
    background: none !important;
    color: white !important;
  }
}
